In [2]:
import pandas as pd
import pandas_datareader as web
import datetime

In [3]:
from datetime import date
series_code = 'DGS10' # 10-year Treasury Rate
data_source = 'fred' # FED Economic Data Service
start = date(1962, 1, 1)
data = web.DataReader(series_code, data_source, start)
data.head()

            DGS10
DATE
1962-01-02   4.06
1962-01-03   4.03
1962-01-04   3.99
1962-01-05   4.02
1962-01-08   4.03