In [1]:
import pandas as pd
import pandas_datareader as web
df = web.DataReader('AAPL', data_source='yahoo', start='2012-01-01', end='2019-12-17')
df.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2012-01-03  58.928570  58.428570  58.485714  58.747143  75555200.0  51.115936
2012-01-04  59.240002  58.468571  58.571430  59.062859  65005500.0  51.390648
2012-01-05  59.792858  58.952858  59.278572  59.718571  67817400.0  51.961189
2012-01-06  60.392857  59.888573  59.967144  60.342857  79573200.0  52.504375
2012-01-09  61.107143  60.192856  60.785713  60.247143  98506100.0  52.421093